{% load static %}
<link rel="stylesheet" href="{% static 'css/hero.css' %}">


<Section class="heroSection">
 <span class="badge bg-success rounded-pill fs-6 badge-hero">#ke Kenya's #1Children'shome Network</span>
<div class="contentSection">
    <h1 class="fs-2 fw-bold">Connecting children's Homes<br> <span>Across Kenya</span> </h1>
    <P>A platform where donors,volunteers and visitors unite to support orphaned and vulnerable children in homes across all 47 counties of kenya</P>
</div>

<!-- Search Box Section -->
<div class="searchSection mt-5 mb-5">
    <p class="text-muted mb-3">Search children's homes by name or location</p>
    <div class="d-flex gap-2 flex-wrap search-container">
        <!-- Name/Location Search Input -->
        <input type="text" class="form-control search-input" placeholder="Enter name or location">
        
        <!-- Counties Dropdown -->
        <select class="form-select search-select">
            <option selected>All Counties</option>
            <option value="baringo">Baringo</option>
            <option value="bomet">Bomet</option>
            <option value="bungoma">Bungoma</option>
            <option value="busia">Busia</option>
            <option value="embu">Embu</option>
            <option value="garissa">Garissa</option>
            <option value="homabay">Homa Bay</option>
            <option value="isiolo">Isiolo</option>
            <option value="kajiado">Kajiado</option>
            <option value="kakamega">Kakamega</option>
            <option value="kericho">Kericho</option>
            <option value="kisii">Kisii</option>
            <option value="kisumu">Kisumu</option>
            <option value="kitui">Kitui</option>
            <option value="kwale">Kwale</option>
            <option value="laikipia">Laikipia</option>
            <option value="lamu">Lamu</option>
            <option value="machakos">Machakos</option>
            <option value="makueni">Makueni</option>
            <option value="mandera">Mandera</option>
            <option value="marsabit">Marsabit</option>
            <option value="meru">Meru</option>
            <option value="migori">Migori</option>
            <option value="mombasa">Mombasa</option>
            <option value="murang'a">Murang'a</option>
            <option value="nairobi">Nairobi</option>
            <option value="nakuru">Nakuru</option>
            <option value="nandi">Nandi</option>
            <option value="narok">Narok</option>
            <option value="nyamira">Nyamira</option>
            <option value="nyandarua">Nyandarua</option>
            <option value="nyeri">Nyeri</option>
            <option value="samburu">Samburu</option>
            <option value="siaya">Siaya</option>
            <option value="taitataveta">Taita Taveta</option>
            <option value="tanariver">Tana River</option>
            <option value="tharakanithi">Tharaka Nithi</option>
            <option value="transnzoia">Trans Nzoia</option>
            <option value="turkana">Turkana</option>
            <option value="uasingishu">Uasin Gishu</option>
            <option value="vihiga">Vihiga</option>
            <option value="wajir">Wajir</option>
            <option value="westpokot">West Pokot</option>
            <option value="elgeyo">Elgeyo-Marakwet</option>
            <option value="kiambu">Kiambu</option>
            <option value="kirinyaga">Kirinyaga</option>
        </select>
        
        <!-- Search Button -->
        <button class="btn btn-success rounded-3 px-4 search-button">Search</button>
    </div>
</div>

 <a href="{% url 'Donations' %}"><button type="button" class="btn btn-danger btn-lg">Donate</button></a>
<a href="{% url 'Bookings' %}"><button type="button" class="btn btn-light btn-lg">Book A Home</button></a>

<div class=" container-fluid cardStats d-flex gap-4 mt-5">


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">3,870</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Families helped.</p>
    <!-- <a href="#" class="card-link">Discover</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">257</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Children's homes</p>
    <!-- <a href="#" class="card-link">see more</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">8,400</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Visits booked</p>
    <!-- <a href="#" class="card-link">learn more</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">1,400</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Children supported</p>
    <!-- <a href="{% url 'find_homes' %}" class="card-link">learn more</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>




</div>

</Section>
<section class="urgentNeeds" id="urgent-needs">
  <div class =" align-items-center mb-4">
    <h1>Homes That Need Help Now</h1>
    <P>These homes have critical shortages.Your support can make an immediate difference.</P>
  </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-freestockpro-12932614.jpg" class="card-img-top" alt="this is a picture of school stationaries" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">JoyfulHearts Children's Home</h5>
        <h6>Nakuru</h6>
        
    <p class="card-text">This home is need of School Uniforms $ Stationaries</p>
      <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
</div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-samandgos-709567.jpg" class="card-img-top" alt="this is a picture of local fruits and vegetables" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">Mama Upendo Orphanage</h5>
        <h6>Mombasa</h6>
        <p class="card-text">This home has a 3-months shortage of Food supplies.</p>
         <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-nati-87264186-14642652.jpg" class="card-img-top" alt="this is a picture of blankets" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">Neema House Nyandarua</h5>
        <h6>Nyandarua</h6>
        <p class="card-text">This home is need of Winter clothing $ blankets due to the cold climate of the area .</p>
         <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-cottonbro-6157209.jpg" class="card-img-top" alt="this is a picture of a bed" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">Amani Children's shelter</h5>
        <h6>Machakos</h6>
        <p class="card-text">This home is in need of Beds $ Mattresses.</p>
         <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
    </div>
    </div>
  </div>
</div>
</section>
<section 
