{% load static %}
<link rel="stylesheet" href="{% static 'css/hero.css' %}">


<Section class="heroSection" id ="heroSection">
 <span class="badge bg-success rounded-pill fs-6 badge-hero">#ke Kenya's #1Children'shome Network</span>
<div class="contentSection">
    <h1 class="fs-2 fw-bold ">Connecting children's Homes<br> <span style="color: #125204;">Across Kenya</span> </h1>
    <P>A platform where donors,volunteers and visitors unite to support orphaned and vulnerable children in homes across all 47 counties of kenya</P>
</div>

<!-- Search Box Section -->
<div class="searchBar">
<div class="searchSection mt-5 mb-5">
    <p class=" fs-5 ">Search children's homes by name or location</p>
    <div class="search-container">
        <!-- Name/Location Search Input -->
        <input type="text" class="form-control search-input" placeholder="Enter name or location">
        
        <!-- Counties Dropdown -->
        <select class="form-select search-select">
            <option selected>All Counties</option>
            <option value="baringo">Baringo</option>
            <option value="bomet">Bomet</option>
            <option value="bungoma">Bungoma</option>
            <option value="busia">Busia</option>
            <option value="embu">Embu</option>
            <option value="garissa">Garissa</option>
            <option value="homabay">Homa Bay</option>
            <option value="isiolo">Isiolo</option>
            <option value="kajiado">Kajiado</option>
            <option value="kakamega">Kakamega</option>
            <option value="kericho">Kericho</option>
            <option value="kisii">Kisii</option>
            <option value="kisumu">Kisumu</option>
            <option value="kitui">Kitui</option>
            <option value="kwale">Kwale</option>
            <option value="laikipia">Laikipia</option>
            <option value="lamu">Lamu</option>
            <option value="machakos">Machakos</option>
            <option value="makueni">Makueni</option>
            <option value="mandera">Mandera</option>
            <option value="marsabit">Marsabit</option>
            <option value="meru">Meru</option>
            <option value="migori">Migori</option>
            <option value="mombasa">Mombasa</option>
            <option value="murang'a">Murang'a</option>
            <option value="nairobi">Nairobi</option>
            <option value="nakuru">Nakuru</option>
            <option value="nandi">Nandi</option>
            <option value="narok">Narok</option>
            <option value="nyamira">Nyamira</option>
            <option value="nyandarua">Nyandarua</option>
            <option value="nyeri">Nyeri</option>
            <option value="samburu">Samburu</option>
            <option value="siaya">Siaya</option>
            <option value="taitataveta">Taita Taveta</option>
            <option value="tanariver">Tana River</option>
            <option value="tharakanithi">Tharaka Nithi</option>
            <option value="transnzoia">Trans Nzoia</option>
            <option value="turkana">Turkana</option>
            <option value="uasingishu">Uasin Gishu</option>
            <option value="vihiga">Vihiga</option>
            <option value="wajir">Wajir</option>
            <option value="westpokot">West Pokot</option>
            <option value="elgeyo">Elgeyo-Marakwet</option>
            <option value="kiambu">Kiambu</option>
            <option value="kirinyaga">Kirinyaga</option>
        </select>
        
        <!-- Search Button -->
        <button class="btn btn-success rounded-3 px-4 search-button">Search</button>
    </div>
</div>
</div>


 <a href="{% url 'Donations' %}"><button type="button" class="btn btn-danger btn-lg">Donate</button></a>
<a href="{% url 'Bookings' %}"><button type="button" class="btn btn-light btn-lg">Book A Home</button></a>

<div class=" container-fluid cardStats d-flex gap-4 mt-5">


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">3,870</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Families helped.</p>
    <!-- <a href="#" class="card-link">Discover</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">257</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Children's homes</p>
    <!-- <a href="#" class="card-link">see more</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">8,400</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Visits booked</p>
    <!-- <a href="#" class="card-link">learn more</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">1,400</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">Children supported</p>
    <!-- <a href="{% url 'find_homes' %}" class="card-link">learn more</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>




</div>

</Section>

 
<section class="urgentNeeds" id="urgent-needs">
  <div class =" align-items-center mb-4">
    <h1>Homes That Need Help Now</h1>
    <P>These homes have critical shortages.Your support can make an immediate difference.</P>
  </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-freestockpro-12932614.jpg" class="card-img-top" alt="this is a picture of school stationaries" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">JoyfulHearts Children's Home</h5>
        <h6>Nakuru</h6>
        
    <p class="card-text">This home is need of School Uniforms $ Stationaries</p>
      <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
</div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-samandgos-709567.jpg" class="card-img-top" alt="this is a picture of local fruits and vegetables" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">Mama Upendo Orphanage</h5>
        <h6>Mombasa</h6>
        <p class="card-text">This home has a 3-months shortage of Food supplies.</p>
         <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-nati-87264186-14642652.jpg" class="card-img-top" alt="this is a picture of blankets" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">Neema House Nyandarua</h5>
        <h6>Nyandarua</h6>
        <p class="card-text">This home is need of Winter clothing $ blankets due to the cold climate of the area .</p>
         <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="\static\images\pexels-cottonbro-6157209.jpg" class="card-img-top" alt="this is a picture of a bed" height="300px" width="500px">
      <div class="card-body">
        <h5 class="card-title">Amani Children's shelter</h5>
        <h6>Machakos</h6>
        <p class="card-text">This home is in need of Beds $ Mattresses.</p>
         <a href="{% url 'Donations' %}" class="btn btn-primary">donate to this home</a>
    </div>
    </div>
  </div>
</div>
</section>

<section class ="featuredHomes" id ="featured-homes">
<div class =" mb-4">
    <h6>FEATURED HOMES</h6>
    <h2>Children's Homes Near You</h2>
    <p>Explore Varified Homes across Kenya's counties.</p>
   

<div class="container my-5 border rounded-3 p-4">

<div class="home-card">

<div class="card-image">

<img src="{% static 'images/image.png' %}" alt="children home" height="720px" width="1080px">

<span class="badge critical">Critical Need</span>
<span class="badge verified">✔ Verified</span>

<h5 class="home-title">
Joyful Hearts Children's Home
</h5>

</div>

<div class="card-content">

<div class="location-rating">
<span>📍 Kibera, Nairobi</span>
<span>⭐ 4.8</span>
</div>

<div class="children-info">
<span>👨‍👧‍👦 47 children</span>
<span>78% capacity</span>
</div>

<div class="progress">
<div class="progress-bar" style="width:78%"></div>
</div>

<div class="urgent-box">
<p class="urgent-title">🚨 Urgent Need</p>
<p>School Uniforms & Stationery</p>
</div>

<div class="tags">
<span>School Uniforms</span>
<span>Exercise Books</span>
<span>Food (Maize & Beans)</span>
</div>

<div class="card-buttons">
<a href="{% url 'find_homes' %}" class="btn btn-outline-success">View Profile</a>
<a href="{% url 'Donations' %}" class="btn btn-danger">Donate →</a>
</div>

</div>

</div>

</div>


<div class="container my-5 border rounded-3 p-4">

<div class="home-card">

<div class="card-image">

<img src="{% static 'images/ubunntuphotos6.jpg' %}" alt="children home">

<span class="badge critical">Critical Need</span>
<span class="badge verified">✔ Verified</span>

<h5 class="home-title">
Tumaini Wa kesho Home
</h5>

</div>

<div class="card-content">

<div class="location-rating">
<span>📍 Nakuru town</span>
<span>⭐ 4.6</span>
</div>

<div class="children-info">
<span>👨‍👧‍👦 47 children</span>
<span>78% capacity</span>
</div>

<div class="progress">
<div class="progress-bar" style="width:58%"></div>
</div>

<div class="urgent-box">
<p class="urgent-title">🚨 Urgent Need</p>
<p>Mattresses and Beddings</p>
</div>

<div class="tags">
<span>Clothing(ages 5-12)</span>
<span>Mattresses</span>
<span>Cooking gas</span>
</div>

<div class="card-buttons">
<a href="{% url 'find_homes' %}" class="btn btn-outline-success">View Profile</a>
<a href="{% url 'Donations' %}" class="btn btn-danger">Donate →</a>
</div>

</div>

</div>

</div>




<div class="container my-5 border rounded-3 p-4">

<div class="home-card">

<div class="card-image">

<img src="{% static 'images/ubunntuphotos3.jpg' %}" alt="children home">

<span class="badge critical">Critical Need</span>
<span class="badge verified">✔ Verified</span>

<h5 class="home-title">
Mama Upendo Orphanage
</h5>

</div>

<div class="card-content">

<div class="location-rating">
<span>📍 Likoni, Mombasa</span>
<span>⭐ 4.9</span>
</div>

<div class="children-info">
<span>👨‍👧‍👦 58 children</span>
<span>89% capacity</span>
</div>

<div class="progress">
<div class="progress-bar" style="width:58%"></div>
</div>

<div class="urgent-box">
<p class="urgent-title">🚨 Urgent Need</p>
<p>Food Supplies(3-month shortage)</p>
</div>

<div class="tags">
<span>FoodSupplies</span>
<span>SchoolFees</span>
<span>SanitationProducts</span>
</div>

<div class="card-buttons">
<a href="{% url 'find_homes' %}" class="btn btn-outline-success">View Profile</a>
<a href="{% url 'Donations' %}" class="btn btn-danger">Donate →</a>
</div>
</div>
</div>
</div>




<div class="container my-5 border rounded-3 p-4">

<div class="home-card">

<div class="card-image">

<img src="{% static 'images/ubunntuphotos.jpg' %}" alt="children home">

<span class="badge critical">Critical Need</span>
<span class="badge verified">✔ Verified</span>

<h5 class="home-title">
Baraka Children's Village
</h5>

</div>

<div class="card-content">

<div class="location-rating">
<span>📍 Kondole, Kisumu</span>
<span>⭐ 4.7</span>
</div>

<div class="children-info">
<span>👨‍👧‍👦 41 children</span>
<span>75% capacity</span>
</div>

<div class="progress">
<div class="progress-bar" style="width:58%"></div>
</div>

<div class="urgent-box">
<p class="urgent-title">🚨 Urgent Need</p>
<p>Computers and Laptops for Learning</p>
</div>

<div class="tags">
<span>SportsEquipment</span>
<span>ArtSupplies</span>
<span>Computers</span>
</div>

<div class="card-buttons">
<a href="{% url 'find_homes' %}" class="btn btn-outline-success">View Profile</a>
<a href="{% url 'Donations' %}" class="btn btn-danger">Donate →</a>
</div>

</div>

</div>

</div>
</section>



<section class ="Workings" id="workings">
  <div class  ="text-center mb-4">
    <h1>How HomeCare Kenya Works</h1>
    <P>We make it simple and transparent for everyone to get involved and make a diffrence.</P>
  </div>

  <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Find a Home</h5>
        <p class="card-text">Browse our directory of verified children's homes across all 47 Kenyan counties.Filtered by location or specific needs.</p>
    
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Choose How to Help</h5>
        <p class="card-text">Donate money, contribute items, volunteer your time or book a visit to personally connect with the children.</p>

      </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Track your Impact</h5>
        <p class="card-text">Recieve updates on how your support is being used,with transparent reporting from home directors.</p>

      </div>
    </div>
  </div>
</div>

</section>

<section class="community" id="community">
  <div class ="text-center mb-4">
    <h5>COMMUNITY</h5>
    <h2>Building a Nation that Cares</h2>
    <p>HomeCare Kenya was born from a simple belief: every Kenyan child deserves a safe home, quality education,and a loving community.We connect the generosity of Kenyans and global supporters to make this a reality.</p>

  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">31</h5>
        <p class="card-text">Counties covered.</p>
  
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">247</h5>
        <p class="card-text">Registered homes.</p>
  
      </div>
    </div>
  </div>

    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">823</h5>
        <p class="card-text">Donors this month.</p>
  
      </div>
    </div>
  </div>

    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">156</h5>
        <p class="card-text">Upcoming Visits.</p>
  
      </div>
    </div>
  </div>

  <div class="col-sm-6">
<div class="card mb-3">
  <img src="{% static 'images/ubunntuphotos7.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">

  </div>
</div>

<div class="card mb-3">
  <img src="{% static 'images/ubunntuphotos6.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">

  </div>
</div>

<div class="card mb-3">
  <img src="{% static 'images/ubunntuphotos2.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">

  </div>
</div>



<div class="card mb-3">
  <img src="{% static 'images/ubunntuphotos3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">

  </div>
</div>

</div>
</div>
</section>

<section class="submision" id ="submision">
<div class="text-center">
  <h1>Ready to make a Difference</h1>
  <p>Whether you Donate,volunteer,or simply Visit -- your involvement chnages a child's life forever</p>
</div>

<div class="d-flex">
  <a href="{% url 'Donations' %}"><button type="button" class="btn btn-danger btn-lg">Donate</button></a>
<a href="{% url 'Bookings' %}"><button type="button" class="btn btn-light btn-lg">Book A Home</button></a>

</div>

</section>
