
<section class="navSection">

  <nav class="navbar navbar-expand-lg bg-body-tertiary ms-auto justify-content-between ">
  <div class="container navbar-light">
    <a class="navbar-brand d-flex align-items-center fw-bolder fs-3" href="{% url 'home' %}">HomeCare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item bg-success rounded-3">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'find_homes' %}">Find homes</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="{% url 'Bookings' %}">Book a visit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events' %}">Events wall</a>
        </li>
             <li class="nav-item bg-danger rounded-3">
          <a class="nav-link" href="{% url 'Donations' %}">Donate</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Dashboards
          </a>
          <ul class="dropdown-menu bg-dark ">
            <li><a class="dropdown-item text-light bg-secondary" href="{% url 'homed' %}">Home-dashboard</a></li>
            <li><a class="dropdown-item text-light bg-success" href="{% url 'admin' %}">Admin-dashboard</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</section>


